*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    max-width: 1000px;
    width: 90%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    margin: auto;
}

video{
    width: 100%;
}

.buttons{
   display: flex;
   gap: 0.5rem;
   padding: 0.25rem;
   align-items: center;
}

button{
    background: none;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    color: #fff;    
    opacity: 0.7;
    transition: opacity 150ms ease-in-out;
}

button:hover{
    opacity: 1;
}

.container.paused .pause-icon{
    display: none;
}

.container:not(.paused) .play-icon{
    display: none;
}

.next-BTN{
    margin-left: 3rem;
    bottom: 2.2rem;
}    

.next-BTN i{
    font-size: 1.5rem;    
}