*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.container{
    max-width: 1000px;
    width: 90%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
}

.container.theatre-mode{
    max-width: initial;
    width: 100%;
}

video{
    width: 100%;
    z-index: -1;
}

.button-container{
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 2rem;
}

.buttons{
    width: 97%;
    justify-content: space-between;
    height: 5rem;
    transform: translateY(-10px);
    margin-left: 1rem;
    display: flex;
    align-items: start;
}

.buttons::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    aspect-ratio: 8 / 1;
    z-index: -1;
    pointer-events: none;
}

button{
    border: none;
    background: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

.playprevnext{
    width: 1000px;
}

.prev-BTN i{
    margin: 0 1rem;
}

.next-BTN i{
    margin: 0 0 0 1rem;
}

.pause-icon, .play-icon{
    margin: 0 0 0 2rem;
    transform: translate(5px, 6px);
}


button:hover{
    opacity: 1;
}

.container.paused .pause-icon{
    display: none;
}

.container:not(.paused) .play-icon{
    display: none;
}

.next-BTN, .prev-BTN{
    position: absolute;
}    

.next-BTN i, .prev-BTN i{
    font-size: 1.5rem;    
}

.prev-BTN{
    padding-right: 2rem;
}

.container.theatre-mode .tall{
    display: none;
}

.container:not(.theatre-mode) .wide{
    display: none;
}

.container.full-screen .open{
    display: none;
}

.container:not(.full-screen) .close{
    display: none;
}

.view-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}